# Durchgeführte Projekte/Verifikation
## Wissensmanagement Diskussionsforum
Um allen Mitarbeitern möglichst schnell Gelegenheit zu geben, sich zum Thema Wissensmanagement aus ihrer Sicht äußern zu können, wurde schon zu Beginn der Arbeit ein **Onlinediskussionsforum** zum Thema eingerichtet. Die **Resonanz** auf dieses Forum war **nicht groß**. Es gab ca. 5 Beiträge pro Woche von ungefähr 10 verschiedenen Mitarbeitern.

Ursache hierfür ist einerseits, dass davon ausgegangen wurde, dass das Thema Wissensmanagement an sich bereits bekannt sei (zum Beispiel aus dem Projekt
mit dem IAO). Es hat sich aber gezeigt, dass die meisten Mitarbeiter von Beteiligung
diesem Projekt noch keine Kenntnis hatten und deswegen mit den dargebotenen Informationen wenig anfangen konnten.

**Notiz:** Eine Projektbörse, in der alle durchgeführten Projekte mit einer Kurzbeschreibung aufgeführt werden, kann helfen, die Transparenz im Projektbereich zu vergrößern. Über eine Liste der teilnehmenden Mitarbeiter kann die Kommunikation angeregt werden.

Ein weiterer wichtiger Grund für die geringe Teilnahme ist darin zu sehen, dass sich die Mitarbeiter erst daran gewöhnen müssen, ihre Meinung und Kritik in dem öffentlichen Forum zu vertreten. Ein solcher Gewöhnungsprozess kann durch **Workshops** unterstützt werden, die dazu dienen, eine **Vertrauensbasis** herzustellen.

Es folgten beispielsweise auf das Webangebot wesentlich mehr Reaktionen per Email als im Forum selber. Rückfragen, ob diese Emails im Forum veröffentlicht werden können, wurden entweder nicht beantwortet oder verneint.

## Wissensmanagement-Workshops
Ein zweites Element für die Sensibilisierung der Mitarbeiter für das Thema Wissensmanagement waren die durchgeführten **Wissensmanagement-Workshops**. Die Workshops wurden in einem Turnus von **zwei Wochen** durchgeführt und hatten immer ein bestimmtes Thema aus dem Bereich Wissensmanagement.

An den Workshops haben Mitarbeiter aus verschiedenen Abteilungen teilgenommen. Die Teilnehmerzahl lag im Durchschnitt bei cirka 7 Personen.

In den ersten Workshops war deutlich zu erkennen, dass viele Mitarbeiter dem Thema Wissensmanagement gegenüber sehr skeptisch waren, da sie einen destruktiven Eingriff in ihre Arbeitsweise befürchteten.

Wichtige Aufgabe des Workshops bestand deswegen darin, den Mitarbeitern die Ziele des Wissensmanagement darzulegen und die Vorteile aufzuzeigen, die sie persönlich daraus ziehen können. Durch diese Workshops hat sich, ähnlich wie bei internen Seminaren, ein **Netzwerk von Personen** gebildet, die Interesse an dem Thema zeigen und Wissensmanagement am IIS fördern wollen.

## Mitarbeiterbefragung
Seit einiger Zeit wurde am IIS versucht, die Voraussetzungen für den Betrieb einer **Kindertagesstätte** zu schaffen. Zu diesem Zweck wurde von der Gruppe Personalentwicklung ein **Papierfragebogen** erstellt, mit dem der Bedarf am IIS erfasst werden sollte. Der Nachteil, dass bei Papierfragebogen **viel Zeit** für die **Auswertung** verwendet werden muss, wurde in Kauf genommen.

Da das systemX II sich mittlerweile in einem verwendbaren Zustand befand, wurde der Personalentwicklung angeboten, die Umfrage auf der Wissensmanagement-Plattform durchzuführen. Die **Realisierung** dauerte, ab dem Zeitpunkt der Zusage und Dank der Flexibilität von ZOPE, **zwei Stunden**.

Die Umfrage wurde mit dem Produkt Poll durchgeführt. Poll bietet die Möglichkeit, Umfragen beliebigen Umfangs durchzuführen und im Anschluss automatisch auszuwerten. Gewählt werden kann zwischen prozentualer oder grafischer Auswertung. Außerdem ist es möglich, Umfragen anonym oder personenbezogen durchzuführen.

Die Umfrage ist aus Sicht der Wissensmanagement-Plattform als Erfolg zu werten. Durch den Zugriff über Webbrowser konnte die gesamte Umfrage inklusive Auswertung innerhalb von sieben Arbeitstagen durchgeführt werden. In diesem Zeitraum haben sich über 130 Mitarbeiter an der Umfrage beteiligt

## Konzept für eine datenbankgestützte Studien-/Diplomarbeits-/Praktikums- /Hiwibörse
Die Personalgewinnung ist, gerade in einer Zeit, in der die Arbeitsmarktlage für das Akquirieren von Ingenieuren sehr schlecht ist, ein sehr wichtiges Thema. Ein wichtiger Aspekt für die Personalgewinnung am IIS ist die Einstellung von Studienabgängern, die über Praktika, Hiwi-Stellen, Studien- oder Diplomarbeiten an das Institut gebunden werden.

Sowohl die **Verwaltung** von ausgegebenen Studien- und Diplomarbeitsthemen, als auch die Verwaltung von Anfragen an das Institut sind sehr **unstrukturiert**. **Studien- und Diplomarbeitsthemen** werden **von** der **Personalstelle verwaltet** und erscheinen im Abstand von einigen Monaten im Internet.

Anfragen für **Praktika** werden in einer **Access-Datenbank** in der Personalentwicklung erfasst und in Papierform an die Abteilungen verschickt. Eine aktuelle Liste ist im Intranet nicht verfügbar.

Außerdem werden **internationale Anfragen** nach Stellen aller Art **in** der [Seneca-Datenbank](https://web.archive.org/web/20000301004622/http://www.iis.fhg.de/kfa/seneca/index.html) erfasst. Diese Datenbank wird vom Fraunhofer Koordinierungsbüro für Ausbildungspartnerschaften betrieben und basiert auf dem DBMS Oracle. Studenten können die Datenbank nutzen, um sich für Praktika zu bewerben.

Um die zur Verfügung stehenden Daten in einer einheitlichen Form präsentierbar zu machen, wurde in Zusammenarbeit mit den einzelnen Stellen ein Konzept entwickelt, das die Veröffentlichung der Daten ermöglicht. Mit der Umsetzung dieses Konzepts wird die Möglichkeit geschaffen, die bestehenden Daten in eine **zentrale Datenbank** zu übertragen und dort für das systemX II verfügbar zu machen.

Ein Mitarbeiter, der eine Studienarbeit vergeben möchte, kann sich so zum Beispiel nach einem geeigneten Kandidaten erkundigen. Es wurde aus Datenschutzgründen die Übereinkunft getroffen, keine persönlichen Daten, wie Telefonnummer oder Adresse, bereitzustellen. Bei Interesse können diese Informationen bei der entsprechenden Stelle erfragt werden.

![Konzept der Studien-/Diplomarbeits-/Praktikums-/Hiwibörse](./img/konzept-abschlussarbeiten-boerse.png)
